import(methods)
importFrom(graphics, plot)
importFrom("utils", head, tail)
import(parallel)


#useDynLib(lifecontingencies)
exportPattern("^[[:alpha:]]+")

exportMethods(
    "coerce",
    "plot",
    "print",
    "show",
    "summary",
    "getOmega"
)
exportClasses(
    "actuarialtable",
     "lifetable" 
)
