import(methods)
importFrom(graphics, plot)

importFrom(utils, head)
importFrom(utils, tail)

exportPattern("^[[:alpha:]]+")

exportMethods(
    "coerce",
    "plot",
    "show",
    "getOmega"
)
exportClasses(
    "actuarialtable",
     "lifetable" 
)
