import(methods)
#import(markovchain)
importFrom("graphics", plot)
#importFrom("utils", head, tail)
import(parallel, utils)


#useDynLib(lifecontingencies)
exportPattern("^[[:alpha:]]+")

exportMethods(
    "coerce",
    "plot",
    "print",
    "show",
    "summary",
    "getOmega"
)
exportClasses(
    "actuarialtable",
     "lifetable" 
)
